{% if page.lang == "en" %}
    <h3 class="post-subtitle"><i class="fa fa-fw fa-building-o"></i><a href="https://anydesk.com/en-gb" tabindex="0">AnyDesk Software GmbH</a></h3>
    <h3 class="post-subtitle"><i class="fa fa-fw fa-map-marker"></i>Stuttgart <i class="fa fa-fw fa-calendar"></i> 08/2021 - present</h3>
{% elsif page.lang == "de" %}
    <h3 class="post-subtitle"><i class="fa fa-fw fa-building-o"></i><a href="https://anydesk.com/de" tabindex="0">AnyDesk Software GmbH</a></h3>
    <h3 class="post-subtitle"><i class="fa fa-fw fa-map-marker"></i>Stuttgart <i class="fa fa-fw fa-calendar"></i> 08/2021 - heute</h3>
{% endif %}