---
lang: de
langref: experience
title: Berufserfahrung
layout: page
---
<body>
    <h1>Berufserfahrung</h1>

    <div class="post">
        <h2 class="post-title">Softwareentwickler</h2>
        {% include experience-props-lists/props-hd.html %}
        {% include experience-skills-lists/skills-hd.html %}
        <p>Ich entwickle in Java und C++ eine firmeninterne native Android-Applikation zur Fernbedienung eines Audiogeräts.</p>
        <p>Für Echtzeitanwendungen wie die Messung von Quaternionen und die Datenserialisierung mit <a href="https://google.github.io/flatbuffers/" tabindex="0">FlatBuffers</a> entwickle ich auf Linux auch Teile des C++17 Codes. Außerdem bin ich für die Paketverwaltung in Python verantwortlich.</p>
        <p>Meine Leistungen sind in Demos präsentiert worden, die dem Start-up Förderungsgeld in Höhe von <a href="https://www.scotsman.com/business/edinburgh-firm-behind-revolutionary-rapid-hearing-test-gears-market-launch-3008848" tabindex="0">£715.000</a> gewonnen haben.</p>
    </div>

    <div class="post">
        <h2 class="post-title">Modellierung- & Simulationsanalyst</h2>
        {% include experience-props-lists/props-iq.html %}
        {% include experience-skills-lists/skills-iq.html %}
        <p>Ich habe in R einen Skript-basierten Workflow zur Simulation von <a href="https://de.wikipedia.org/wiki/PK/PD-Modellierung" tabindex="0">PK/PD</a> Daten für die Auswertung der Wirksamkeit eines Medikaments entwickelt. Diese Daten habe ich mit einer Art statistichem Modell namens „<a href="https://de.wikipedia.org/wiki/Gemischtes_Modell" tabindex="0">gemischtem</a> Modell“ analysiert. Ich habe solche Modelle mit <a href="https://lixoft.com/products/monolix/" tabindex="0">Monolix</a> geschaffen.</p>
    </div>

    <h1>Praktische Erfahrung</h1>

    <div class="post">
        <h2 class="post-title">Studentische Hilfskraft</h2>
        {% include experience-props-lists/props-ic.html %}
        {% include experience-skills-lists/skills-ic.html %}
        <p>Während meines Studiums in rechnergestützter Biologie habe ich in Matlab ein <a href="https://de.wikipedia.org/wiki/Gew%C3%B6hnliche_Differentialgleichung" tabindex="0">ODE</a>-Modell der Zellwanddynamik sporenbildender Bakterien entwickelt. Dies habe ich in einem wissenschaftlichen Journal als <a href="https://pubs.rsc.org/en/content/articlelanding/2017/SM/C7SM00818J#!divAbstract" tabindex="0">Hauptautor</a> veröffentlicht.</p>
    </div>
</body>
