---
lang: de
langref: experience
title: Berufserfahrung
layout: page
---
<body>
    <h1>Berufserfahrung</h1>

    <div class="post">
        <h2 class="post-title">Android-Entwickler</h2>
        {% include experience-props-lists/props-ad.html %}
        {% include experience-skills-lists/skills-ad.html %}
        <br/>
        <a href='https://play.google.com/store/apps/details?id=com.anydesk.anydeskandroid' onmouseover="this.style.opacity=1; this.style.filter=alpha(opacity=100);" tabindex="0"><img alt='Jetzt bei Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/de_badge_web_generic.png' class="google-playstore-badge"/></a>
        <p>Ich entwickle in Java and C++ in unserer nativen Android-App für den Fernzugriff neue Funktionen, u.a. den Dateimanager und die Kontoanmeldung.</p>
        <p>Ich verbessere die aktuellen Funktionen, u.a. die Medienprojektion, das <a href="https://de.wikipedia.org/wiki/Software-as-a-Service" tabindex="0">SaaS</a>-Lizenzmodell zur Gewinnerhöhung, sowie die Kunden-API in <a href="https://developer.android.com/develop/background-work/services/aidl" tabindex="0">AIDL</a>. Ich behebe auch Fehler in der Nebenläufigkeit und in der UI.</p>
        <p>Außerdem arbeite ich zusammen mit einem Grafikdesigner, um die UI zu modernisieren, z.B. habe ich das Drag-and-Drop umgesetzt.</p>
        <p>Weiterhin habe ich in C++ ein firmeninternes Programm entwickelt, das während der Kompilierzeit aus der plattformunabhägigen C++ Codebasis Java <code>enums</code> generiert. Das hat eine ganze Quelle Laufzeitfehler eliminiert.</p>
        <p>Diese App hat 50+ Millionen Downloads über den Google Play Store. Ich bin mitverantwortlich für Android Code‐Reviews und für die Produktivsetzung von Releases auf den App Stores. Dabei stelle ich rechtzeitige App‐Updates für die neuesten Android‐Versionen bereit, um die jährlichen Android‐Berechtigungsupdates einzuhalten.</p>
        <p>Alles in allem ist mir die Entwicklung auf vielen Gerätarten vertraut: Handys, Tablets, Foldables, Android-TVs, Chromebooks und AOSP-Geräten.</p>
    </div>

    <div class="post">
        <h2 class="post-title">Softwareentwickler</h2>
        {% include experience-props-lists/props-hd.html %}
        {% include experience-skills-lists/skills-hd.html %}
        <p>Ich habe in Java und C++ eine firmeninterne native Android-App zur Fernbedienung eines Audiogeräts entwickelt.</p>
        <p>Ich habe mich auch mit der Linux-Entwicklung in C++17 beschäftigt. Dazu habe ich u.a. die UI-Entwicklung mit Qt und die Datenserialisierung mit <a href="https://google.github.io/flatbuffers/" tabindex="0">FlatBuffers</a> gemacht. Außerdem war ich für die Paketverwaltung in Python verantwortlich.</p>
        <p>Meine Leistungen sind in Demos präsentiert worden, die dem Start-up Förderungsgeld in Höhe von <a href="https://www.scotsman.com/business/edinburgh-firm-behind-revolutionary-rapid-hearing-test-gears-market-launch-3008848" tabindex="0">£715.000</a> gewonnen haben.</p>
    </div>

    <div class="post">
        <h2 class="post-title">Modellierungs- & Simulationsanalyst</h2>
        {% include experience-props-lists/props-iq.html %}
        {% include experience-skills-lists/skills-iq.html %}
        <p>Ich habe in R einen Skript-basierten Workflow zur Simulation von <a href="https://de.wikipedia.org/wiki/PK/PD-Modellierung" tabindex="0">PK/PD</a> Daten für die Auswertung der Wirksamkeit eines Medikaments entwickelt. Diese Daten habe ich mit einer Art statistichem Modell namens „<a href="https://de.wikipedia.org/wiki/Gemischtes_Modell" tabindex="0">gemischtem</a> Modell“ analysiert. Ich habe solche Modelle mit <a href="https://lixoft.com/products/monolix/" tabindex="0">Monolix</a> geschaffen.</p>
    </div>

    <h1>Praktische Erfahrung</h1>

    <div class="post">
        <h2 class="post-title">Studentische Hilfskraft</h2>
        {% include experience-props-lists/props-ic.html %}
        {% include experience-skills-lists/skills-ic.html %}
        <p>Während meines Studiums in rechnergestützter Biologie habe ich in Matlab ein <a href="https://de.wikipedia.org/wiki/Gew%C3%B6hnliche_Differentialgleichung" tabindex="0">ODE</a>-Modell der Zellwanddynamik sporenbildender Bakterien entwickelt. Dies habe ich in einem wissenschaftlichen Journal als <a href="https://pubs.rsc.org/en/content/articlelanding/2017/SM/C7SM00818J#!divAbstract" tabindex="0">Hauptautor</a> veröffentlicht.</p>
    </div>
</body>
