---
lang: de
langref: home
title: Über Mich
layout: page
---
<body>
    <h1>Zusammenfassung</h1>
    <!-- Use the formal Sie to be consistent with the Privacy Policy. -->
    <p>Als Android-Entwickler mit mehrjähriger Erfahrung strebe ich stets danach, meine Kenntnisse im Android-Betriebssystem weiter zu vertiefen, um für die neuesten Android-Versionen moderne Apps entwickeln zu können. Mich begeistert sowohl das UI-Design als auch die Entwicklung der Business-Logik einer App. Ich möchte ein kreativerer Problemlöser werden und behebe gerne Fehler in der Nebenläufigkeit sowie in der UI.</p>
    <p>Schauen Sie <a href="nebenprojekte#narradir" tabindex="0">meine persönliche App</a> mit 10 Tsd.+ Downloads über den Google Play Store! Auch zum Download bereit steht mein detaillierter <a href="cv.pdf" tabindex="0">Lebenslauf</a>.</p>

    <h1>Kenntnisse</h1>
    <p>Ich beschäftige mich am liebsten mit:</p>
    {% include prog-icon-lists/favourites.html %}
    <p>Ich habe berufliche Erfahrung auch mit:</p>
    {% include prog-icon-lists/with-experience.html %}
    <p>Ich bin auch kompetent in:</p>
    {% include prog-icon-lists/do-not-mind.html %}
    <p>Ich habe Grundkenntnisse in:</p>
    {% include prog-icon-lists/basic.html %}

    <h1>Hobbys</h1>
    <ul>
        <li>Deduktionsbrettspiele (u.a.: <i>Der Widerstand: Avalon</i>, <i>One Night Ultimate Werewolf</i>)</li>
        <li>Radfahren (wenn es warm ist &#128526;)</li>
        <li>Bouldern</li>
        <li>Akustische Gitarre (Anfänger)</li>
        <li>Komödie‐Serien (u.a.: <i>Community</i>, <i>The Office</i>, <i>Arrested Development</i>, <i>It's Always Sunny in Philadelphia</i>)</li>
    </ul>
</body>
