---
lang: de
title: Über Mich
layout: page
---
<body>
    <h1>Zusammenfassung</h1>
    <p>Ich bin Junior-Softwareentwickler. Vorher habe ich doch Lebenswissenschaft studiert und ich habe mein Masterstudium im Bereich der rechnergestützten Biologie an der <a href="https://cbb.ethz.ch/">ETH Zürich</a> absolviert. Mein Ziel ist es, meine Programmier-Fähigkeiten weiter zu verbessern und ein kreativer Problemlöser zu werden. Kürzlich habe ich begonnen, mich für die Android-Entwicklung zu interessieren und ich veröffentliche bald im Google Play Store meine allererste App. <a href="/cv.pdf">Hier</a> ist mein detaillierter Lebenslauf.</p>

    <h1>Skills</h1>
    <p>I am comfortable in:</p>
    {% include prog-icon-lists/comfortable.html %}
    <p>I have basic knowledge of:</p>
    {% include prog-icon-lists/basic.html %}
    <p>I wish to learn:</p>
    {% include prog-icon-lists/wishlist.html %}

    <h1>Hobbies</h1>
    <ul>
        <li>Social-deduction board games (<i>The Resistance: Avalon</i>, <i>One Night Ultimate Werewolf</i>)</li>
        <li>Comedy series (<i>The Office</i>, <i>Community</i>, <i>Arrested Development</i>, <i>Parks & Recreation</i>)</li>
        <li>Football (fan of Liverpool F.C. since 2004)</li>
        <li>Acoustic guitar (beginner)</li>
    </ul>
</body>
