---
lang: de
langref: home
title: Über Mich
layout: page
---
<body>
    <h1>Zusammenfassung</h1>
    <p>Ich bin Junior-Softwareentwickler. Vorher habe ich doch Lebenswissenschaft studiert und ich habe mein Masterstudium im Bereich der rechnergestützten Biologie an der <a href="https://cbb.ethz.ch/">ETH Zürich</a> absolviert. Mein Ziel ist es, meine Programmier-Fähigkeiten noch weiter zu verbessern und ein kreativer Problemlöser zu werden. Kürzlich habe ich begonnen, mich für Android-Entwicklung zu interessieren und ich veröffentliche bald im Google Play Store meine allererste App. <a href="/cv.pdf">Hier</a> ist mein detaillierter Lebenslauf.</p>

    <h1>Kenntnisse</h1>
    <p>Ich bin ziemlich erfahren mit:</p>
    {% include prog-icon-lists/comfortable.html %}
    <p>Ich habe Grundkenntnisse von:</p>
    {% include prog-icon-lists/basic.html %}
    <p>Ich möchte lernen:</p>
    {% include prog-icon-lists/wishlist.html %}

    <h1>Hobbys</h1>
    <ul>
        <li>Deduktionsbrettspiele (u.a.: <i>Der Widerstand: Avalon</i>, <i>One Night Ultimate Werewolf</i>)</li>
        <li>Komödie‐Serien (u.a.: <i>The Office</i>, <i>Community</i>, <i>Arrested Development</i>, <i>Parks & Recreation</i>)</li>
        <li>Fußball (Fan des Liverpool F.C. seit 2004)</li>
        <li>Akustische Gitarre (Einsteiger)</li>
    </ul>
</body>
