---
lang: de
langref: projects
title: Nebenprojekte
layout: page
---
<body>
    <h1>Nebenprojekte</h1>

    <div class="post">
        <h2 class="post-title"><a href="https://github.com/liweiyap/narradir-android">Narradir</a></h2>
        <h3 class="post-subtitle">Android-Applikation in Java</h3>
        <p>Zum automatischen Erzählen der Nachtphase in den Deduktionsbrettspielen <i>Dem Widerstand: Avalon</i> und <i>Secret Hitler</i> habe ich eine mobile App entwickelt. Die Sprachsynthese fürs Erzählen habe ich mit dem <a href="https://cloud.google.com/text-to-speech">Text‐to‐Speech API</a> vom Google Cloud SDK durch Bash‐Skripte gemacht.</p>
        {% include narradir-carousel.html %}
        <p>Im Vergleich mit ähnlichen Anwendungen bietet <i>Narradir</i> folgende Vorteile an:</p>
        <ul>
            <li>Der/Die BenutzerIn lässt sich ein Geräusch während dem Erzählen im Hintergrund spielen, um die von den Spielern unabsichtlich gemachten Geräusche zu übertönen.</li>
            <li>Der/Die BenutzerIn lässt sich die Dauer der Pause einstellen, während der bestimmte Figuren ihre jeweiligen Rollen ausführen müssen.</li>
            <li>Bei <i>Dem Widerstand: Avalon</i> gibt es ein „intelligentes“ System zur Auswahl der Figuren. Je nach der Anzahl der Spieler könnten unterschiedliche Figuren zur Auswahl stehen. Außerdem gelten es bestimmte Regeln zur Auswahl der Figuren. Werden manche Figuren ausgewählt bzw. abgewählt, könnten dann andere Figuren automatisch ausgewählt oder abgewählt.</li>
        </ul>
    </div>

    <div class="post">
        <h2 class="post-title"><a href="https://github.com/liweiyap/text-popover-macOS">Text-Popover</a></h2>
        <h3 class="post-subtitle">MacOS Desktop-Applikation in SwiftUI für Fremdsprache-Lernende</h3>
        <p>Ich bin unlängst aus der Schweiz ausgezogen aber ich will nicht mein Deutsch vergessen. Deshalb habe ich mit der Python-Bibliothek <a href="https://pypi.org/project/beautifulsoup4/"><i>Beautiful Soup</i></a> eine Liste deutsche Redewendungen sowie ihre jeweilige Bedeutung und Geschichte aus <a href="https://de.wikipedia.org/wiki/Liste_deutscher_Redewendungen">Wikipedia</a> ausgelesen. Diese Daten habe ich in einer <a href="https://www.sqlite.org/index.html">SQLite</a> Datenbank gespeichert.</p>
        <p>Danach habe ich mit SwiftUI eine App für die Menüleiste geschrieben. Die App poppt in vom Benutzer spezifizierten Intervallen mit einer aus der SQLite Datenbank zufällig ausgewählten Redewendung auf. Diese Pop-ups dienen als virtuelle Zettel für mein regelmäßiges Lernen.</p>
        {% include text-popover-carousel.html %}
        <p>Der/Die BenutzerIn lässt sich auch das Einstellungsmenü öffnen und neue Datenbanken kreieren, damit das Pop-up andere vom Benutzer spezifizierten Texte anzeigen könnte:</p>
        <img src="../assets/settingswindow.png" style="display: block; margin-left: auto; margin-right: auto; width:500px;" onmouseover="this.style.opacity=1;"/>
        <img src="../assets/inspirationalquote.png" style="display: block; margin-left: auto; margin-right: auto; width:350px;" onmouseover="this.style.opacity=1;"/>
    </div>

    <div class="post">
        <h2 class="post-title"><a href="https://github.com/liweiyap/SortingGitHubReposByCommits">GitHub-Repositorys nach Commits Sortieren</a></h2>
        <h3 class="post-subtitle">Web scraping in Python</h3>
        <p>Ich wollte die Anzahl der Commits, die ich auf den jeweiligen Standardbranch (normalerweise <code>master</code> oder <code>main</code>) meiner persönlichen Repositorys, vergleichen. Deshalb habe ich die nötigen Daten in Python aus dem GitHub <a href="https://api.github.com/">API</a> ausgelesen. Danach habe ich die Daten in einer <a href="https://github.com/pandas-dev/pandas"><i>Pandas</i></a> Datenstruktur sortiert und angezeigt.</p>
        <div id="typewriter" class="container-typewriter">
            <script type='text/javascript' src="../assets/js/typewriter.js"></script>
        </div>
    </div>
    
    <div class="post">
        <h2 class="post-title"><a href="https://github.com/liweiyap/Conway_GameOfLife">Conway's Game of Life</a></h2>
        <h3 class="post-subtitle">Simulation of evolution in a grid-like population of cells in C++ with Qt</h3>
        <p>Given a grid of cells, each cell has an initial state: <i>live</i> (1) or <i>dead</i> (0). Each cell interacts with its <a href="https://en.wikipedia.org/wiki/Moore_neighborhood">eight neighbours</a> (horizontal, vertical, or diagonal) using the following <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life#Rules">four rules</a>:</p>
        <a href="https://qualityswdev.com/2011/07/31/conways-game-of-life-in-scala/"><img src="../assets/rules.jpg" style="display: block; margin-left: auto; margin-right: auto; height:250px;"></a>
        <ol>
            <li>Any live cell with fewer than two live neighbours dies, as if caused by under-population <i>(inability to reproduce?)</i>.</li>
            <li>Any live cell with two or three live neighbours lives on to the next generation <i>(ideal population density)</i>.</li>
            <li>Any live cell with more than three live neighbours dies, as if by over-population <i>(scarce nutrients)</i>.</li>
            <li>Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction <i>(ideal population density)</i>.</li>
        </ol>
        <img src="../assets/chequered_slower.gif" width="600" style="display: block; margin-left: auto; margin-right: auto; width:600px;" onmouseover="this.style.opacity=1;" />
        <img src="../assets/random_gen275.gif" width="600" style="display: block; margin-left: auto; margin-right: auto; width:600px;" onmouseover="this.style.opacity=1;"/>
    </div>
</body>
