---
lang: en
langref: experience
title: Experience
layout: page
---
<body>
    <h1>Work Experience</h1>

    <div class="post">
        <h2 class="post-title">Software Engineer</h2>
        {% include experience-props-lists/props-hd.html %}
        {% include experience-skills-lists/skills-hd.html %}
        <p>I develop the company's internal native Android app in Java and C++ for controlling a remote audio device.</p>
        <p>I also develop parts of the real-time C++17 codebase on Linux for quaternion detection and for data serialisation with <a href="https://google.github.io/flatbuffers/" tabindex="0">FlatBuffers</a>. Besides, I am involved in package management in Python.</p>
        <p>My work was showcased in demos that won the start-up <a href="https://www.scotsman.com/business/edinburgh-firm-behind-revolutionary-rapid-hearing-test-gears-market-launch-3008848" tabindex="0">£715,000</a> in funding.</p>
    </div>

    <div class="post">
        <h2 class="post-title">Modelling & Simulation Analyst</h2>
        {% include experience-props-lists/props-iq.html %}
        {% include experience-skills-lists/skills-iq.html %}
        <p>I developed a script-based workflow in R for the simulation of <a href="https://en.wikipedia.org/wiki/PK/PD_models" tabindex="0">PK/PD</a> data to evaluate drug effectiveness. I analysed the data using a type of statistical model called an <a href="https://en.wikipedia.org/wiki/Mixed_model" tabindex="0">NLME</a> model, constructed using <a href="https://lixoft.com/products/monolix/" tabindex="0">Monolix</a>.</p>
    </div>

    <h1>Practical Experience</h1>

    <div class="post">
        <h2 class="post-title">Visiting Researcher</h2>
        {% include experience-props-lists/props-ic.html %}
        {% include experience-skills-lists/skills-ic.html %}
        <p>Whilst studying computational biology at university, I developed an <a href="https://en.wikipedia.org/wiki/Ordinary_differential_equation" tabindex="0">ODE</a> model of the cell-wall dynamics during bacterial spore formation in Matlab. I published my work in a scientific journal as <a href="https://pubs.rsc.org/en/content/articlelanding/2017/SM/C7SM00818J#!divAbstract" tabindex="0">lead author</a>.</p>
    </div>
</body>
