---
lang: en
langref: experience
title: Experience
layout: page
---
<body>
    <h1>Work Experience</h1>

    <div class="post">
        <h2 class="post-title">Android Developer</h2>
        {% include experience-props-lists/props-ad.html %}
        {% include experience-skills-lists/skills-ad.html %}
        <br/>
        <a href='https://play.google.com/store/apps/details?id=com.anydesk.anydeskandroid' onmouseover="this.style.opacity=1; this.style.filter=alpha(opacity=100);" tabindex="0"><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' class="google-playstore-badge"/></a>
        <p>I develop new features (including the file manager and account login/registration) in the company's native Android app for remote access in Java and C++.</p>
        <p>I also improve existing features, including media projection, the <a href="https://en.wikipedia.org/wiki/Software_as_a_service" tabindex="0">SaaS</a> licensing model for increased revenue, and the client API in <a href="https://developer.android.com/develop/background-work/services/aidl" tabindex="0">AIDL</a>. On top of that, I fix concurrency bugs and UI glitches.</p>
        <p>In addition, I work with a graphic designer to modernise the UI. This includes the implementation of drag-and-drop.</p>
        <p>Furthermore, I developed an internal C++ program that generates Java <code>enums</code> from the cross‐platform C++ codebase at build time, eliminating an entire source of run‐time errors.</p>
        <p>This app has 50+ million downloads on the Google Play Store. I am jointly responsible for Android code reviews and app store release management, ensuring the delivery of timely app updates to target the latest Android versions and adhere to annual Android permission changes.</p>
        <p>All in all, I am used to developing on a wide range of Android devices: phones, tablets, foldables, Android TVs, Chromebooks and AOSP devices.</p>
    </div>

    <div class="post">
        <h2 class="post-title">Software Engineer</h2>
        {% include experience-props-lists/props-hd.html %}
        {% include experience-skills-lists/skills-hd.html %}
        <p>I developed the company's internal native Android app in Java and C++ for controlling a remote audio device.</p>
        <p>I also developed parts of the Linux code in C++17; this included UI development with Qt and data serialisation with <a href="https://google.github.io/flatbuffers/" tabindex="0">FlatBuffers</a>. Besides, I was involved in package management in Python.</p>
        <p>My work was showcased in demos that won the start-up <a href="https://www.scotsman.com/business/edinburgh-firm-behind-revolutionary-rapid-hearing-test-gears-market-launch-3008848" tabindex="0">£715,000</a> in funding.</p>
    </div>

    <div class="post">
        <h2 class="post-title">Modelling & Simulation Analyst</h2>
        {% include experience-props-lists/props-iq.html %}
        {% include experience-skills-lists/skills-iq.html %}
        <p>I developed a script-based workflow in R for the simulation of <a href="https://en.wikipedia.org/wiki/PK/PD_models" tabindex="0">PK/PD</a> data to evaluate drug effectiveness. I analysed the data using a type of statistical model called an <a href="https://en.wikipedia.org/wiki/Mixed_model" tabindex="0">NLME</a> model, constructed using <a href="https://lixoft.com/products/monolix/" tabindex="0">Monolix</a>.</p>
    </div>

    <h1>Practical Experience</h1>

    <div class="post">
        <h2 class="post-title">Student Researcher</h2>
        {% include experience-props-lists/props-ic.html %}
        {% include experience-skills-lists/skills-ic.html %}
        <p>Whilst studying computational biology at university, I developed an <a href="https://en.wikipedia.org/wiki/Ordinary_differential_equation" tabindex="0">ODE</a> model of the cell-wall dynamics during bacterial spore formation in Matlab. I published my work in a scientific journal as <a href="https://pubs.rsc.org/en/content/articlelanding/2017/SM/C7SM00818J#!divAbstract" tabindex="0">lead author</a>.</p>
    </div>
</body>
