---
lang: en
langref: home
title: About Me
layout: page
---
<body>
    <h1>Summary</h1>
    <p>As an Android developer with several years of experience, I always strive to further deepen my knowledge of the Android operating system, in order to be able to develop modern apps for the latest Android versions. I am passionate about UI design as well as the development of the business logic of an app. I wish to become a more creative problem solver and enjoy fixing concurrency bugs and UI glitches.</p>
    <p>Check out <a href="projects#narradir" tabindex="0">my personal app</a> with 10k+ downloads on the Google Play Store! My detailed <a href="cv.pdf" tabindex="0">CV</a> is also available for download.</p>

    <h1>Skills</h1>
    <p>I especially love to work with:</p>
    {% include prog-icon-lists/favourites.html %}
    <p>I also have professional experience with:</p>
    {% include prog-icon-lists/with-experience.html %}
    <p>I am also comfortable in:</p>
    {% include prog-icon-lists/do-not-mind.html %}
    <p>I have basic knowledge of:</p>
    {% include prog-icon-lists/basic.html %}

    <h1>Hobbies</h1>
    <ul>
        <li>Social-deduction board games (incl.: <i>The Resistance: Avalon</i>, <i>One Night Ultimate Werewolf</i>)</li>
        <li>Cycling (when it's warm &#128526;)</li>
        <li>Bouldering</li>
        <li>Acoustic guitar (beginner)</li>
        <li>Comedy series (incl.: <i>Community</i>, <i>The Office</i>, <i>Arrested Development</i>, <i>It's Always Sunny in Philadelphia</i>)</li>
    </ul>
</body>
