---
lang: en
langref: home
title: About Me
layout: page
---
<body>
    <h1>Summary</h1>
    <p>I am a junior software engineer. My background is in the life sciences; I hold a master's degree in computational biology from <a href="https://cbb.ethz.ch/">ETH Zürich</a>. My goal is to become a more skilled programmer and more creative problem solver. Lately, I have taken an interest in Android development and I am about to release my first app on the Google Play Store. <a href="/cv.pdf">Here</a> is my detailed CV.</p>

    <h1>Skills</h1>
    <p>I am comfortable in:</p>
    {% include prog-icon-lists/comfortable.html %}
    <p>I have basic knowledge of:</p>
    {% include prog-icon-lists/basic.html %}
    <p>I wish to learn:</p>
    {% include prog-icon-lists/wishlist.html %}

    <h1>Hobbies</h1>
    <ul>
        <li>Social-deduction board games (incl.: <i>The Resistance: Avalon</i>, <i>One Night Ultimate Werewolf</i>)</li>
        <li>Comedy series (incl.: <i>The Office</i>, <i>Community</i>, <i>Arrested Development</i>, <i>Parks & Recreation</i>)</li>
        <li>Football (fan of Liverpool F.C. since 2004)</li>
        <li>Acoustic guitar (beginner)</li>
    </ul>
</body>
