---
lang: en
langref: projects
title: Projects
layout: page
---
<body>
    <h1>Projects</h1>

    <div class="post">
        <h2 class="post-title"><a href="https://github.com/liweiyap/narradir-android" id="narradir" tabindex="0">Narradir</a></h2>
        <h3 class="post-subtitle">Native Android app in Kotlin<br/>10k+ downloads on Google Play</h3>
        <a href='https://play.google.com/store/apps/details?id=com.liweiyap.narradir' onmouseover="this.style.opacity=1; this.style.filter=alpha(opacity=100);" tabindex="0"><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' class="google-playstore-badge"/></a>
        <p>I developed the app <i>Narradir</i> for automating night-time narration in the social-deduction board games <i>The Resistance: Avalon</i> and <i>Secret Hitler</i> using <a href="https://github.com/androidx/media" tabindex="0"><i>Jetpack Media3</i></a>. The app was originally written in Java and later migrated to Kotlin. I synthesized the speech audio files for the narration via the <a href="https://cloud.google.com/text-to-speech" tabindex="0">Text‐to‐Speech API</a> from the Google Cloud SDK using Bash scripting.</p>
        {% include narradir-carousel.html %}
        This app offers the following improvements over similar apps out there:
        <ul>
            <li>It allows the user to play a background sound during narration to help cover up any sounds made inadvertently by players.</li>
            <li>It allows the user to change the pause length during which certain roles have to perform their actions.</li>
            <li>In the case of <i>The Resistance: Avalon</i>, it provides a "smart" selection for the roles. As the number of players changes, the range of roles available for selection might also change. In addition, certain selection rules apply. Some roles will be automatically selected/deselected depending on the selection/deselection of other roles.</li>
        </ul>
    </div>

    <div class="post">
        <h2 class="post-title"><a href="https://github.com/liweiyap/bouldertagebuch-android" id="narradir" tabindex="0">Bouldering Log</a></h2>
        <h3 class="post-subtitle">Native Android app in Kotlin (Jetpack Compose)</h3>
        <p>To log personal bouldering training sessions, I developed an app in Kotlin with Jetpack Compose, <i>Hilt</i>, and coroutines, using Google's recommended Model-View-ViewModel (MVVM) architecture. This app is available in English and German.</p>
        {% include bouldertagebuch-carousel.html %}
    </div>

    <div class="post">
        <h2 class="post-title"><a href="https://github.com/liweiyap/text-popover-macOS" tabindex="0">Text-Popover</a></h2>
        <h3 class="post-subtitle">MacOS menu bar app in SwiftUI for language learners</h3>
        <p>After moving out of Switzerland and before moving to Germany, I became afraid of losing my German. Hence, I used the Python library <a href="https://pypi.org/project/beautifulsoup4/" tabindex="0"><i>Beautiful Soup</i></a> to scrape a list of German idioms/expressions, as well as their respective meaning and history, from <a href="https://de.wikipedia.org/wiki/Liste_deutscher_Redewendungen" tabindex="0">Wikipedia</a>, storing them in an <a href="https://www.sqlite.org/index.html" tabindex="0">SQLite</a> database.</p>
        <p>I then used the SwiftUI framework to create a desktop application that pops up at user-specified intervals, each time with a random expression from the SQLite database. These pop-ups serve as virtual placards for my regular revision of German expressions.</p>
        {% include text-popover-carousel.html %}
        <p>The user can also open the settings window and create new databases, so that the pop-up can display other user-defined texts:</p>
        {% include text-popover-settingswindow.html %}
        {% include text-popover-inspirationalquote.html %}
    </div>

    <div class="post">
        <h2 class="post-title"><a href="https://github.com/liweiyap/SortingGitHubReposByCommits" tabindex="0">Sorting GitHub Repositories by Commits</a></h2>
        <h3 class="post-subtitle">Web scraping in Python</h3>
        <p>As I was interested in comparing the number of commits I myself have made to the respective default branch (usually <code>master</code> or <code>main</code>) of my personal repositories, I scraped the necessary data from the GitHub <a href="https://api.github.com/" tabindex="0">API</a> using Python, and then sorted and organised the data into a <a href="https://github.com/pandas-dev/pandas" tabindex="0"><i>Pandas</i></a> dataframe.</p>
        <div id="typewriter" class="container-typewriter"></div>
    </div>

    <div class="post">
        <h2 class="post-title"><a href="https://github.com/liweiyap/Conway_GameOfLife" tabindex="0">Conway's Game of Life</a></h2>
        <h3 class="post-subtitle">Simulation of evolution in a grid-like population of cells in C++ with Qt</h3>
        <p>Given a grid of cells, each cell has an initial state: <i>live</i> (1) or <i>dead</i> (0). Each cell interacts with its <a href="https://en.wikipedia.org/wiki/Moore_neighborhood" tabindex="0">eight neighbours</a> (horizontal, vertical, or diagonal) using the following <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life#Rules" tabindex="0">four rules</a>:</p>
        {% include conway-rules.html %}
        <ol>
            <li>Any live cell with fewer than two live neighbours dies, as if caused by under-population <i>(inability to reproduce)</i>.</li>
            <li>Any live cell with two or three live neighbours lives on to the next generation <i>(ideal population density)</i>.</li>
            <li>Any live cell with more than three live neighbours dies, as if by over-population <i>(scarce nutrients)</i>.</li>
            <li>Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction <i>(ideal population density)</i>.</li>
        </ol>
        <img alt="Conway Demo 1" src="assets/conway/chequered_slower.gif" width="600px" class="centered-img"/>
        <img alt="Conway Demo 2" src="assets/conway/random_gen275.gif" width="600px" class="centered-img"/>
    </div>
</body>
