<div class="n-carousel n-carousel--controls-outside">
    <ul class="n-carousel__content">
        {% for screenshot in site.carousels.bouldertagebuch %}
            <li>
                <picture>
                    <source srcset="../assets/bouldertagebuch/{{ screenshot }}.webp" type="image/webp">
                    <source srcset="../assets/bouldertagebuch/{{ screenshot }}.png" type="image/png">
                    <img alt="Bouldering Log Demo {{ forloop.index }}" src="../assets/bouldertagebuch/{{ screenshot }}.png" class="mobile-screenshot centered-img"/>
                </picture>
            </li>
        {% endfor %}
    </ul>
    {% include carousel-swipe-buttons.html %}
    <div class="n-carousel__index">
        <button aria-label="Bouldering Log Demo 1"></button>
        <button aria-label="Bouldering Log Demo 2"></button>
        <button aria-label="Bouldering Log Demo 3"></button>
        <button aria-label="Bouldering Log Demo 4"></button>
        <button aria-label="Bouldering Log Demo 5"></button>
    </div>
</div>