<div class="n-carousel n-carousel--controls-outside">
    <ul class="n-carousel__content">
        <li><img src="../assets/narradir/screenshot-avalon-characterselection.webp" height="500px" class="centered-img"/></li>
        <li><img src="../assets/narradir/screenshot-avalon-play-close.webp" height="500px" class="centered-img"/></li>
        <li><img src="../assets/narradir/screenshot-avalon-play-minions-open.webp" height="500px" class="centered-img"/></li>
        <li><img src="../assets/narradir/screenshot-avalon-play-pause.webp" height="500px" class="centered-img"/></li>
        <li><img src="../assets/narradir/screenshot-avalon-play-minions-close.webp" height="500px" class="centered-img"/></li>
        <li><img src="../assets/narradir/screenshot-avalon-play-merlin.webp" height="500px" class="centered-img"/></li>
        <li><img src="../assets/narradir/screenshot-avalon-play-percival.webp" height="500px" class="centered-img"/></li>
        <li><img src="../assets/narradir/screenshot-avalon-play-wake.webp" height="500px" class="centered-img"/></li>
        <li><img src="../assets/narradir/screenshot-secrethitler-characterselection.webp" height="500px" class="centered-img"/></li>
        <li><img src="../assets/narradir/screenshot-secrethitler-play-fascists.webp" height="500px" class="centered-img"/></li>
        <li><img src="../assets/narradir/screenshot-settings.webp" height="500px" class="centered-img"/></li>
    </ul>
    <div class="n-carousel__previous">
        <button></button>
    </div>
    <div class="n-carousel__next">
        <button></button>
    </div>
    <div class="n-carousel__index">
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
    </div>
</div>