<div class="n-carousel n-carousel--controls-outside">
    <ul class="n-carousel__content">
        {% for screenshot in site.carousels.narradir %}
            <li>
                <picture>
                    <source srcset="../assets/narradir/{{ screenshot }}.webp" type="image/webp">
                    <source srcset="../assets/narradir/{{ screenshot }}.png" type="image/png">
                    <img src="../assets/narradir/{{ screenshot }}.png" class="mobile-screenshot centered-img"/>
                </picture>
            </li>
        {% endfor %}
    </ul>
    <div class="n-carousel__previous">
        <button></button>
    </div>
    <div class="n-carousel__next">
        <button></button>
    </div>
    <div class="n-carousel__index">
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
    </div>
</div>