<div class="n-carousel n-carousel--controls-outside">
    <ul class="n-carousel__content">
        {% for screenshot in site.carousels.narradir %}
            <li>
                <picture>
                    <source srcset="../assets/narradir/{{ screenshot }}.webp" type="image/webp">
                    <source srcset="../assets/narradir/{{ screenshot }}.png" type="image/png">
                    <img src="../assets/narradir/{{ screenshot }}.png" class="mobile-screenshot centered-img"/>
                </picture>
            </li>
        {% endfor %}
    </ul>
    <div class="n-carousel__previous">
        <button></button>
    </div>
    <div class="n-carousel__next">
        <button></button>
    </div>
    <div class="n-carousel__index">
        <button><span>1</span></button>
        <button><span>2</span></button>
        <button><span>3</span></button>
        <button><span>4</span></button>
        <button><span>5</span></button>
        <button><span>6</span></button>
        <button><span>7</span></button>
        <button><span>8</span></button>
        <button><span>9</span></button>
        <button><span>10</span></button>
        <button><span>11</span></button>
    </div>
</div>