<div class="sidebar">
    <div class="container">
        <!-- Picture of myself -->
        {% if page.lang == "en" %}
            <a href="/" tabindex="0"><img class="sidebar-avatar" src="{{ site.baseurl }}assets/logo-whitesmoke.svg" onmouseover="hover(this);" onmouseout="unhover(this);" /></a>
        {% elsif page.lang == "de" %}
            <a href="../de" tabindex="0"><img class="sidebar-avatar" src="../assets/logo-whitesmoke.svg" onmouseover="hover(this);" onmouseout="unhover(this);" /></a>
        {% endif %}

        <!-- Description of myself -->
        <div class="sidebar-about">
            <h1>{{ site.author.name }}</h1>

            {% if page.lang == "en" %}
                <p class="lead">{{ site.preferred_description.en }}</p>
            {% elsif page.lang == "de" %}
                <p class="lead">{{ site.preferred_description.de }}</p>
            {% endif %}
        </div>

        <!-- Navigation to other pages on the same gh-pages website -->
        <nav class="sidebar-nav">
            {% for item in site.data.navigation %}
                {% if item.lang == page.lang %}
                    <a class="sidebar-nav-item" href="{{ item.link }}" tabindex="0">{{ item.name }}</a>
                {% endif %}
            {% endfor %}
        </nav>

        <!-- Social icons -->
        <ul class="list-inline-spaced-evenly">
            <li>
                <a href="mailto:{{ site.author.email }}" class="social-icon" tabindex="0">
                    <i class="fa fa-fw fa-envelope"></i>
                </a>
            </li>
            <li>
                <a href="{{ site.author.github }}" target="_blank" class="social-icon" tabindex="0">
                    <i class="fa fa-fw fa-github"></i>
                </a>
            </li>
            <li>
                <a href="{{ site.author.linkedin }}" target="_blank" class="social-icon" tabindex="0">
                    <i class="fa fa-fw fa-linkedin-square"></i>
                </a>
            </li>
        </ul>

        <!-- Languages -->
        <ul class="list-inline-spaced-evenly">
            <li>
                {% if page.langref == "home" %}
                    <a href=".." tabindex="0"><img src="../assets/flags/united-kingdom.svg" height="30px" class="dim-on-hover dim-on-focus"></a>
                {% else %}
                    <a href="../{{ page.langref }}" tabindex="0"><img src="../assets/flags/united-kingdom.svg" height="30px" class="dim-on-hover dim-on-focus"></a>
                {% endif %}
            </li>
            <li>
                {% if page.langref == "home" %}
                    <a href="../de" tabindex="0"><img src="../assets/flags/germany.svg" height="30px" class="dim-on-hover dim-on-focus"></a>
                {% elsif page.langref == "projects" %}
                    <a href="../de/nebenprojekte" tabindex="0"><img src="../assets/flags/germany.svg" height="30px" class="dim-on-hover dim-on-focus"></a>
                {% elsif page.langref == "experience" %}
                    <a href="../de/berufserfahrung" tabindex="0"><img src="../assets/flags/germany.svg" height="30px" class="dim-on-hover dim-on-focus"></a>
                {% elsif page.langref == "credits" %}
                    <a href="../de/quellenangaben" tabindex="0"><img src="../assets/flags/germany.svg" height="30px" class="dim-on-hover dim-on-focus"></a>
                {% endif %}
            </li>
        </ul>

        <!-- Copyright notice & credits as footer -->
        {% if page.lang == "en" %}
            &copy; 2019-{{ site.time | date: '%Y' }}. <a href="{{ site.baseurl }}credits" tabindex="0">Credits.</a>
        {% elsif page.lang == "de" %}
            &copy; 2019-{{ site.time | date: '%Y' }}. <a href="{{ site.baseurl }}quellenangaben" tabindex="0">Quellenangaben.</a>
        {% endif %}
    </div>
    <div id="particles-js"></div>
</div>
