<div class="sidebar">
    <div class="container">
        <div class="sidebar-about">
            <h1><a href="{{ site.baseurl }}">{{ site.name }}</a></h1>
            <p class="lead">{{ site.description }}</p>
        </div>
        
        <nav class="sidebar-nav">
            {% for item in site.data.navigation %}
                <a class="sidebar-nav-item" href="{{ item.link }}">{{ item.name}}</a>
            {% endfor %}
        </nav>

        <p>&copy; {{ site.time | date: '%Y' }}. Credits.</p>
    </div>
</div>
