<div class="n-carousel n-carousel--controls-outside">
    <ul class="n-carousel__content">
        {% for mode in site.carousels.text_popover %}
            <li>
                <span>                
                    <h4 style="text-align: center;">
                        {% if page.lang == "en" %}
                            {% if mode == "lightmode" %}
                                Light mode
                            {% elsif mode == "darkmode" %}
                                Dark mode
                            {% endif %}
                        {% elsif page.lang == "de" %}
                            {% if mode == "lightmode" %}
                                Hellmodus
                            {% elsif mode == "darkmode" %}
                                Dunkelmodus
                            {% endif %}
                        {% endif %}
                    </h4>
                </span>
                <picture>
                    <source srcset="../assets/text-popover/{{ mode }}.webp" type="image/webp">
                    <source srcset="../assets/text-popover/{{ mode }}.png" type="image/png">
                    <img alt="Text-Popover Demo {{ forloop.index }}" src="../assets/text-popover/{{ mode }}.png" width="400px" class="centered-img"/>
                </picture>
            </li>
        {% endfor %}
    </ul>
    <div class="n-carousel__previous">
        <button></button>
    </div>
    <div class="n-carousel__next">
        <button></button>
    </div>
    <div class="n-carousel__index">
        <button></button>
        <button></button>
    </div>
</div>