<div class="n-carousel n-carousel--controls-outside">
    <ul class="n-carousel__content">
        <li>
            <picture>
                <source srcset="../assets/xkcdbrowser/screenshot-newestcomic.webp" type="image/webp">
                <source srcset="../assets/xkcdbrowser/screenshot-newestcomic.png" type="image/png">
                <img src="../assets/xkcdbrowser/screenshot-newestcomic.png" class="mobile-screenshot centered-img"/>
            </picture>
        </li>
        <li>
            <picture>
                <source srcset="../assets/xkcdbrowser/screenshot-404.webp" type="image/webp">
                <source srcset="../assets/xkcdbrowser/screenshot-404.png" type="image/png">
                <img src="../assets/xkcdbrowser/screenshot-404.png" class="mobile-screenshot centered-img"/>
            </picture>
        </li>
        <li>
            <picture>
                <source srcset="../assets/xkcdbrowser/screenshot-dialog-errorhandling.webp" type="image/webp">
                <source srcset="../assets/xkcdbrowser/screenshot-dialog-errorhandling.png" type="image/png">
                <img src="../assets/xkcdbrowser/screenshot-dialog-errorhandling.png" class="mobile-screenshot centered-img"/>
            </picture>
        </li>
    </ul>
    <div class="n-carousel__previous">
        <button></button>
    </div>
    <div class="n-carousel__next">
        <button></button>
    </div>
    <div class="n-carousel__index">
        <button></button>
        <button></button>
        <button></button>
    </div>
</div>