<div class="n-carousel n-carousel--controls-outside">
    <ul class="n-carousel__content">
        <li><img src="../assets/xkcdbrowser/screenshot-newestcomic.webp" height="500px" class="centered-img"/></li>
        <li><img src="../assets/xkcdbrowser/screenshot-404.webp" height="500px" class="centered-img"/></li>
        <li><img src="../assets/xkcdbrowser/screenshot-dialog-errorhandling.webp" height="500px" class="centered-img"/></li>
    </ul>
    <div class="n-carousel__previous">
        <button></button>
    </div>
    <div class="n-carousel__next">
        <button></button>
    </div>
    <div class="n-carousel__index">
        <button></button>
        <button></button>
        <button></button>
    </div>
</div>