<div class="n-carousel n-carousel--controls-outside">
    <ul class="n-carousel__content">
        <li><img src="../assets/xkcdbrowser/screenshot-newestcomic.webp" style="display: block; margin-left: auto; margin-right: auto; height:500px;"/></li>
        <li><img src="../assets/xkcdbrowser/screenshot-404.webp" style="display: block; margin-left: auto; margin-right: auto; height:500px;"/></li>
        <li><img src="../assets/xkcdbrowser/screenshot-dialog-errorhandling.webp" style="display: block; margin-left: auto; margin-right: auto; height:500px;"/></li>
    </ul>
    <div class="n-carousel__previous">
        <button></button>
    </div>
    <div class="n-carousel__next">
        <button></button>
    </div>
    <div class="n-carousel__index">
        <button style="min-width: 1em; min-height: 1em; width: 1em; height: 1em;"></button>
        <button style="min-width: 1em; min-height: 1em; width: 1em; height: 1em;"></button>
        <button style="min-width: 1em; min-height: 1em; width: 1em; height: 1em;"></button>
    </div>
</div>