/*
 * Overwrite specific functions in `assets/css/poole.css`
 */

/* words on page */
body {
    color: #eeeeee;
    background-color: #191b1f;
}

.page {
    text-align: justify;
    margin-bottom: 1em;
}

.post {
    margin-bottom: 1.5em;
}

.post-title {
    margin-top: 0.75em;
}


/*
 * Overwrite specific functions in `assets/css/hyde.css`
 */

/* font size when stretching */
@media (min-width: 58em) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 72em) {
    html {
        font-size: 20px;
    }
}

/* margins when stretching */
@media (min-width: 48em) {
    .content {
        margin-left: 21rem;
        margin-right: 1rem;
    }
}

@media (min-width: 58em) {
    .content {
        margin-left: 22rem;
        margin-right: 2rem;
    }
}

/* sidebar settings */
.sidebar {
    text-align: center;
    color: rgba(238,238,238,.6);
}

.sidebar a {
    color: #0088cc;
  }

.sidebar-about h1 {
    color: #eeeeee;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 3rem;
}

.sidebar a:hover,
.sidebar a:focus {
    opacity: 0.8;
    text-decoration: none;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
    text-decoration: none;
}

@media (min-width: 48em) {
    .sidebar {
        padding-top: 2rem;
        width: 20rem;
        overflow-y: auto;
    }
}

/* general margins and paddings */
.content {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

@media (min-width: 48em) {
    .content, .container {
        max-width: none;
    }
}

@media (max-width: 48em) {
    .content {
        padding-top: 0.75rem;
    }
}


/*
 * New functions
 */

/* regal blue theme */
.theme-base-0g .sidebar {
    background-color: #162d46;
}
.theme-base-0g .content a,
.theme-base-0g .related-posts li a:hover {
    text-decoration: none;
    color: #0000ff;
}

/* curious blue theme */
.theme-base-0h .sidebar {
    background-color: #3873b3;
}
.theme-base-0h .content a,
.theme-base-0h .related-posts li a:hover {
    text-decoration: none;
    color: #0000ff;
}

/* black russian theme */
.theme-base-0i .sidebar {
    background-color: #191b1f;
    /* border-inline-end: 6px solid green; */
    /* border-inline-end-style: groove; */
}
.theme-base-0i .content a,
.theme-base-0i .related-posts li a:hover {
    text-decoration: none;
    color: #0088cc;
}

/* black pearl theme */
.theme-base-0j .sidebar {
    background-color: #0d1116;
}
.theme-base-0j .content a,
.theme-base-0j .related-posts li a:hover {
    text-decoration: none;
    color: #0000ff;
}

/* picture */
.sidebar-avatar {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
}

img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);  /* For IE8 and earlier */
}

/* social icons on same line */
.list-inline {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.social-icon {
    font-size: 1.5rem;
}

a.social-icon {
    color: #0088cc;
}

a.social-icon:active {
    color: inherit;
}

/* flag icons (does not work) */
.flag-icon {
    height: 30px;
}

/* two-column format */
.row {
    display: flex;
    margin-top: -1rem;
    text-align: left;
}

.column {
    flex: 50%;
}

/* add short description to post, just after post-title */
.post-subtitle {
    color: #000;
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-weight: normal;
    font-style: italic;
}

/* separation between sidebar and content */

.vlinesep {
    /* background-image: -webkit-linear-gradient(red, green, blue); */
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
}

@media (min-width: 48em) {
    .vlinesep {
        left: 20rem;
    }
}

@media (max-width: 48em) {
    .vlinesep {
        visibility: hidden;
    }
}
