/*
 * Overwrite specific functions in `assets/css/poole.css`
 */

/* words on page */
body {
    color: #000;
}

.page {
    text-align: justify;
    margin-bottom: 1em;
}


/*
 * Overwrite specific functions in `assets/css/hyde.css`
 */

/* font size when stretching */
@media (min-width: 58em) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 72em) {
    html {
        font-size: 20px;
    }
}

/* margins when stretching */
@media (min-width: 48em) {
    .content {
        margin-left: 21rem;
        margin-right: 1rem;
    }
}

@media (min-width: 58em) {
    .content {
        margin-left: 22rem;
        margin-right: 2rem;
    }
}

/* sidebar settings */
.sidebar {
    text-align: center;
}

.sidebar-about h1 {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 3rem;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
    text-decoration: none;
    opacity: 0.5;
}

@media (min-width: 48em) {
    .sidebar {
        padding-top: 2rem;
        width: 20rem;
        overflow-y: auto;
    }
}

/* general margins and paddings */
.content {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

@media (min-width: 48em) {
    .content, .container {
        max-width: none;
    }
}

@media (max-width: 48em) {
    .content {
        padding-top: 0.75rem;
    }
}


/*
 * New functions
 */

/* dark blue theme */
.theme-base-0g .sidebar {
    background-color: #162d46;
}
.theme-base-0g .content a,
.theme-base-0g .related-posts li a:hover {
    text-decoration: none;
    color: #0000ff;
}

/* ocean blue theme */
.theme-base-0h .sidebar {
    background-color: #3873b3;
}
.theme-base-0h .content a,
.theme-base-0h .related-posts li a:hover {
    text-decoration: none;
    color: #0000ff;
}

/* picture */
.sidebar-avatar {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 160px;
}

img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);  /* For IE8 and earlier */
}

/* social icons on same line */
.list-inline {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.social-icon {
    font-size: 1.5rem;
}

a.social-icon {
    color: #fff;
}

a.social-icon:hover,
a.social-icon:focus {
    opacity: 0.5;
}

a.social-icon:active {
    color: inherit;
}

/* two-column format */
.row {
    display: flex;
    margin-top: -1rem;
    text-align: left;
}

.column {
    flex: 50%;
}
