/*
 * Overwrite specific functions in `assets/css/poole.css`
 */

body {
    color: #313131;
}

.page {
    text-align: justify;
}


/*
 * Overwrite specific functions in `assets/css/hyde.css`
 */

.sidebar {
    text-align: center;
}

.sidebar-about h1 {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 3rem;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
    text-decoration: none;
    opacity: 0.5;
}

@media (min-width: 48em) {
    .sidebar {
        padding-top: 4rem;
        width: 20rem;
        overflow-y: auto;
    }
}

@media (min-width: 48em) {
    .content, .container {
        max-width: none;
    }
}


/*
 * New functions
 */

/* dark blue */
.theme-base-0g .sidebar {
    background-color: #162d46;
}
.theme-base-0g .content a,
.theme-base-0g .related-posts li a:hover {
    color: #162d46;
}

/* ocean blue */
.theme-base-0h .sidebar {
    background-color: #3873b3;
}
.theme-base-0h .content a,
.theme-base-0h .related-posts li a:hover {
    color: #3873b3;
}

.sidebar-avatar {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 160px;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.social-icon {
    font-size: 1.5rem;
}

a.social-icon {
    color: #fff;
}

a.social-icon:hover,
a.social-icon:focus {
    opacity: 0.5;
}

a.social-icon:active {
    color: inherit;
}
