<ul class="list-inline" style="margin-bottom: -5px;">
    <span class="prog-lang-span">
        <li>
            <a href="https://developer.android.com/studio" tabindex="0"><img src="../assets/programming-languages/androidstudio.svg" class="prog-lang-icon dim-on-hover dim-on-focus"></a>
        </li>
    </span>
    <span class="prog-lang-span">
        <li>
            <a href="https://www.java.com/en/" tabindex="0"><img src="../assets/programming-languages/java.svg" class="prog-lang-icon dim-on-hover dim-on-focus"></a>
        </li>
    </span>
    <span class="prog-lang-span">
        <li>
            <a href="https://en.cppreference.com/w/" tabindex="0"><img src="../assets/programming-languages/cpp.svg" class="prog-lang-icon dim-on-hover dim-on-focus"></a>
        </li>
    </span>
    <span class="prog-lang-span">
        <li>
            <a href="https://www.gnu.org/software/bash/" tabindex="0"><img src="../assets/programming-languages/bash.svg" class="prog-lang-icon dim-on-hover dim-on-focus"></a>
        </li>
    </span>
    <span class="prog-lang-span">
        <li>
            <a href="https://www.python.org/" tabindex="0"><img src="../assets/programming-languages/python.svg" class="prog-lang-icon dim-on-hover dim-on-focus"></a>
        </li>
    </span>
    <span class="prog-lang-span">
        <li>
            <a href="https://git-scm.com/" tabindex="0"><img src="../assets/programming-languages/git.svg" class="prog-lang-icon dim-on-hover dim-on-focus"></a>
        </li>
    </span>
    <span class="prog-lang-span">
        <li>
            <a href="https://www.qt.io/" tabindex="0"><img src="../assets/programming-languages/qt.svg" class="prog-lang-icon dim-on-hover dim-on-focus"></a>
        </li>
    </span>
    <span class="prog-lang-span">
        <li>
            <a href="https://www.r-project.org/" tabindex="0"><img src="../assets/programming-languages/r.svg" class="prog-lang-icon dim-on-hover dim-on-focus"></a>
        </li>
    </span>
    <span class="prog-lang-span">
        <li>
            <a href="https://uk.mathworks.com/products/matlab.html" tabindex="0"><img src="../assets/programming-languages/matlab.svg" class="prog-lang-icon dim-on-hover dim-on-focus"></a>
        </li>
    </span>
    <span class="prog-lang-span">
        <li>
            <a href="https://www.linux.org/" tabindex="0"><img src="../assets/programming-languages/linux.svg" class="prog-lang-icon dim-on-hover dim-on-focus"></a>
        </li>
    </span>
</ul>