<ul class="list-inline">
    <span>
        <li>
            <a href="https://developer.android.com/studio"><img src="../assets/programming-languages/androidstudio.svg" height="35px" class="dim-on-hover"></a>
        </li>
    </span>
    <span>
        <li>
            <a href="https://www.java.com/en/"><img src="../assets/programming-languages/java.svg" height="35px" class="dim-on-hover"></a>
        </li>
    </span>
    <span>
        <li>
            <a href="https://en.cppreference.com/w/"><img src="../assets/programming-languages/cpp.svg" height="35px" class="dim-on-hover"></a>
        </li>
    </span>
    <span>
        <li>
            <a href="https://www.gnu.org/software/bash/"><img src="../assets/programming-languages/bash.svg" height="35px" class="dim-on-hover"></a>
        </li>
    </span>
    <span>
        <li>
            <a href="https://www.python.org/"><img src="../assets/programming-languages/python.svg" height="35px" class="dim-on-hover"></a>
        </li>
    </span>
    <span>
        <li>
            <a href="https://git-scm.com/"><img src="../assets/programming-languages/git.svg" height="35px" class="dim-on-hover"></a>
        </li>
    </span>
    <span>
        <li>
            <a href="https://www.qt.io/"><img src="../assets/programming-languages/qt.svg" height="35px" class="dim-on-hover"></a>
        </li>
    </span>
    <span>
        <li>
            <a href="https://www.r-project.org/"><img src="../assets/programming-languages/r.svg" height="35px" class="dim-on-hover"></a>
        </li>
    </span>
    <span>
        <li>
            <a href="https://uk.mathworks.com/products/matlab.html"><img src="../assets/programming-languages/matlab.svg" height="35px" class="dim-on-hover"></a>
        </li>
    </span>
    <span>
        <li>
            <a href="https://www.linux.org/"><img src="../assets/programming-languages/linux.svg" height="35px" class="dim-on-hover"></a>
        </li>
    </span>
</ul>