<ul class="list-inline" style="margin-bottom: -5px;">
    <span>
        <li>
            <a href="https://www.typescriptlang.org/" tabindex="0"><img src="../assets/programming-languages/typescript.svg" height="35px" class="dim-on-hover dim-on-focus"></a>
        </li>
    </span>
    <span>
        <li>
            <a href="https://en.wikipedia.org/wiki/JavaScript" tabindex="0"><img src="../assets/programming-languages/javascript.svg" height="35px" class="dim-on-hover dim-on-focus"></a>
        </li>
    </span>
    <span>
        <li>
            <a href="https://dart.dev/" tabindex="0"><img src="../assets/programming-languages/dart.svg" height="35px" class="dim-on-hover dim-on-focus"></a>
        </li>
    </span>
</ul>