<ul class="list-inline">
    <span>
        <li>
            <a href="https://www.typescriptlang.org/"><img src="../assets/programming-languages/typescript.svg" height="35px" class="dim-on-hover dim-on-focus"></a>
        </li>
    </span>
    <span>
        <li>
            <a href="https://en.wikipedia.org/wiki/JavaScript"><img src="../assets/programming-languages/javascript.svg" height="35px" class="dim-on-hover dim-on-focus"></a>
        </li>
    </span>
    <span>
        <li>
            <a href="https://dart.dev/"><img src="../assets/programming-languages/dart.svg" height="35px" class="dim-on-hover dim-on-focus"></a>
        </li>
    </span>
</ul>