<!doctype html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body class="theme-base-0i">
        {% include sidebar.html %}

        <div class="content container">
            {{ content }}
        </div>

        <!-- optimise loading by placing JS only at end of body -->
        <!-- alternative to using `defer` to download asynchronously but execute in order; see: https://html.spec.whatwg.org/multipage/scripting.html#attr-script-async -->
        <!-- if I were to use `defer`, it would probably be better to download the scripts earlier rather than right at the end. -->
        <!-- however, I feel that having all the scripts here in one place is more organised? -->
        <!-- https://stackoverflow.com/a/65454504/12367873 -->
        <!-- https://stackoverflow.com/a/24070373/12367873 -->
        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script src="../assets/js/typewriter.js"></script>
        <script src="../assets/js/switch-avatar.js"></script>
        <script src="../assets/js/n-carousel.min.js" type="module"></script>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="../assets/js/particles-loader.js"></script>
        <script src="../assets/js/dates.js"></script>
    </body>
</html>
